.statistics
{
  background: rgba(5, 10, 39, 1);
  height: 100%;
  width: 100%;
  display: flex;
}

.left-panel {
    flex: 0 65vw; /* Set width to 65% of viewport width */
    place-self: flex-start;
  }
  
  .right-panel {
    flex: 1; /* Takes remaining space */
}