.friends
{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}

.friends-container
{
    background: linear-gradient(169.75deg, rgba(255, 255, 255, 0) -50.22%, #040924 -9.3%, #111534 -1.17%, rgba(68, 71, 111, 0.957018) 83.26%, rgba(154, 155, 211, 0.9) 136.85%);
    position: absolute;
    justify-content: space-between;
    box-sizing: border-box;
    height: 90%;
    width: 96%;
    margin: 5px;
    border: 1px solid rgba(154, 155, 211, 0.2);
    border-radius: 10px;
}

div span.friends-title
{
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 30px;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: aliceblue;
  align-self: flex-start;
    margin-left: 40px;
}

.friendItem-container
{
    background: rgba(154, 155, 211, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    padding: 10px 20px;
    box-sizing: border-box;
    height: 80px;
    border-bottom: 1px solid rgba(154, 155, 211, 0.2);
    margin: 15px 10px;
    border-radius: 15px;
}

.friend-image
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.friend-name
{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    align-self: flex-start;
    margin-left: 40px;
    position: absolute;
}

.MoreIcon
{
    color: aliceblue;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
}

.MoreIcon >svg
{
    width: 30px;
    height: 30px;
}